#authenticate {
    display: none;
}

#authenticate-button {
    background: #755ca7;
    cursor: pointer;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    max-width: 250px;
}

#authenticate-button img {
    width: 40px;
    height: 40px;
}
