/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 * 
 * Authors :
 * - HackJack https://github.com/Jack3113
 * - AamuLumi https://github.com/AamuLumi
 */

body {
    font-family: 'PT Sans', 'Roboto', 'Segoe UI', Tahoma, sans-serif;
    min-width: 400px;
    max-width: 400px;
    padding: 24px 32px;
    background: rgb(24, 10, 21);
    background: linear-gradient(135deg, rgba(24, 10, 21, 1), rgba(36, 1, 1, 1));
    cursor: default;
    color: white;
}

h1 {
    font-size: 36pt;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    font-weight: 400;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1.25em;
    color: #d81b60;
}

::-webkit-scrollbar {
    height: 12px;
    width: 6px;
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 10, 10, 0.5);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.streamOn,
.streamOn:visited {
    display: flex;
    text-decoration: none;
    color: white;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 90px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.streamOn:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.streamOn .preview {
    object-fit: cover;
    height: 90px;
    flex-shrink: 0;
}

.empty-text {
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: 200;
}

.infos-container {
    padding: 8px 4px 8px 8px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.icon-text-container {
    display: flex;
    font-size: 0.875em;
    align-items: center;
}

.icon-text-container .icon {
    width: 16px;
    height: 16px;
}

.icon-text-container .icon.left {
    margin-right: 8px;
}

.icon-text-container .icon.right {
    margin-left: 8px;
}

#settings-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32px;
    right: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    padding: 8px;
    border-radius: 8px;
}

#settings-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#settings-button > svg {
    cursor: pointer;
}

.title {
    font-style: italic;
    font-size: 1em;
    display: block;
    flex-shrink: 0;
}

.title,
.username,
.game {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex-row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.preview {
    display: block;
}

#offlineList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.streamOff {
    padding: 2px;
    margin: 1px;
    font-weight: 600;
}

.link {
    cursor: pointer;
    color: #1976d2;
    font-weight: 700;
}

.pointer {
    cursor: pointer;
}

.game {
    font-style: initial;
}
