/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 * 
 * Author : HackJack https://github.com/Jack3113
 */

.button
{
    background-color:rgb(221, 221, 221);
    background-image:linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    border-bottom-color:rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgba(0, 0, 0, 0.247059);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgba(0, 0, 0, 0.247059);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgba(0, 0, 0, 0.247059);
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-top-style:solid;
    border-top-width:1px;
    box-shadow:rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
    color:rgb(68, 68, 68);
    cursor:pointer;
    display:inline-block;
    margin:0px;
    margin-right:1px;
    outline-color:rgb(68, 68, 68);
    padding:1px 10px;
    text-align:center;
    text-shadow:rgb(240, 240, 240) 0px 1px 0px;
    text-transform:none;
    word-spacing:0px;
}
#addTwitch
{
    padding-left: 5px;
    margin: 5px 0;
    display: block;
}
#addTwitchDialog
{
    margin: 5px 40px;
    justify-content: space-around;
}
#refreshTime
{
    display: inline-block;
    width: 4em;
}
.container
{
    width:600px;
    padding: 10px;
}
#streams
{
    width: 100%; 
    height: 15em;
}
.hidden
{
    display:none;
}
#notif, #titleNotif
{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
}
#status
{
    bottom: 1em; 
    text-align: center; 
    font-weight: bold;
}